// banner
.banner-section {
    height: 146px;
    background-image: url('../assets/img/hero-images/ochir-erdene-oyunmedeg-LmyPLbbUWhA-unsplash.jpg');
    background-position: center top;
    background-size: cover;
    .container {
        width: 100%;
        display: flex;
        height: inherit;
        padding-left: 0;
        padding-right: 0;
        display: flex;

        .banner-services {
            margin-left: 0;
            padding-left: 128px;
            display: flex;
            align-items: center;
            @media (max-width: 1032px) {
                padding-left: 28px;
                padding-right: 28px;
                margin-left: 0;
            }
            h1 {
                 /* Add the blur effect */
                backdrop-filter: blur(2.5px);
                border-radius: 20px;
                @media (max-width: 1032px) {
                    font-size: 2.83rem;
                    padding-left: 0;
                }
                @media(max-width: 600px) {
                    font-size: 2.5rem;
                    padding-left: 0;
        
                }
                @media(max-width: 350px) {
                    font-size: 2.0rem;
                    padding-left: 0;
        
                }
            }
        }
    }
} 

.container-form {
    max-width: 1800px;
    padding-left: 128px;
    padding-right: 128px;
    margin: 0 auto;

    @media(max-width: 1032px) {
        padding-left: 28px;
    }

}
section.introduction {
    margin-top: 29px;

    h3 {
        margin-top: 29px;
        font-style: normal;
        font-weight: 400;
        font-size: 1.13rem;
        line-height: 22px;
        margin-top: 28px;
        margin-bottom: 20px;
        @media (max-width: 1032px) {
            font-size: 1.1rem;
        }

        a.contact-link {
            color: #0093FE;
            text-decoration: none;
        }
        a.contact-link:hover {
            color: #EC9706;
        }
    }

    .my-own-button.gallery-btn {
        margin-bottom: 28px;
    }
}
img.profile {
    width: 390px;
}

// Components
button {
    color: white;
    background-color: #EC9706;
    padding: 17px 18px 17px 18px;
    border-radius: 20px;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
	cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
section.introduction h2 {
    margin-bottom: 12px;
}
section.introduction h3 {
    margin-top: 0;
    display: inline-block;
    margin-bottom: 0;

}

// form polish
form {
    margin-top: 20px;
    padding: 0;

    label {
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        color: #666666;
        margin-bottom: 8px;
    }
    input {
        height: 56px;
        width: 50vw;
        border-radius: 8px;
        border: 1px solid #CCCCCC;
        margin-bottom: 32px;

        @media(max-width: 600px) {
            padding-left: 0px;
            width: 90vw;

        }
        @media(max-width: 400px) {
            padding-left: 0px;
            width: 80vw;

        }
    }
    ::placeholder {
        color: #666666;
        font-size: 1rem;
        text-indent: 16px;

        @media(max-width: 400px) {
            padding-left: 0px;
            width: 80vw;
            overflow: hidden;

        }
    }
    
}
.required {
    color: red;
  }